main {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;

    .mainheader-container {
        display: flex;
        width: 90%;
        height: 2rem;

        input {
            width: 100%;
            padding-left: 0.5rem;
            font-weight: 600;
            border: 1px solid grey;
            border-radius: 5px;
        }
    }
    .messages-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        height: auto;
        gap: 1rem;
        margin-bottom: 6rem;
    }
    @media screen and (min-width: 768px) {
        .messages-container {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @media screen and (min-width: 1024px) {
        .messages-container {
            grid-template-columns: repeat(5, 1fr);
        }
    }
    @media screen and (min-width: 1240px) {
        .messages-container {
            grid-template-columns: repeat(7, 1fr);
        }
    }

    .messages-container > * {
        width: 100%;
    }
}