.messageCard-item {
    border: 1px solid rgba(103, 103, 105, 0.5);
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    padding-bottom: 3rem;
    background: linear-gradient(to bottom, rgb(207, 199, 243), rgb(252, 253, 158));
    color: black;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
    position: relative;

    .messageCard-buttons {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 80%;
        margin-bottom: 0.5rem;

        button {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            border: 1px solid grey;
        }
    }

}

.messageCard-item:hover {
    cursor: pointer;
    background: white;
}