.editMessage-container {
    position: fixed;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 60%;
    border-radius: 10px;
    box-shadow: 0px 0px 500px 50px black;
    border: 2px solid grey;
    background: linear-gradient(to top, rgb(195, 195, 238), rgb(199, 236, 236));
    z-index: 10;
    cursor: default;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    padding: 1rem;

    h3 {
        text-decoration: underline;
        font-weight: 600;
    }
    p {
        font-weight: 200;
        font-size: small;
    }

    input, textarea {
        width: 100%;
        padding: 0.5rem;
        text-align: left;
        box-sizing: border-box;
    }
    .editMessage-username {
        height: auto;
    }
    .editMessage-text {
        height: 70%;
        resize: none;
        overflow-y: auto;
        overflow-wrap: break-word;
        word-wrap: break-word;
        white-space: normal;
    }
    .editMessage-buttons {
        display: flex;
        justify-content: space-between;
        

        button {
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            border: 1px solid grey;
            cursor: pointer;
            transition: all 0.1s ease-in-out;
            font-size: x-large;
        }
        button:hover {
            background: linear-gradient(to top, rgb(195, 195, 238), rgb(199, 236, 236));
            border: 2px solid rgb(221, 230, 98);
        }
    }

    .editMessage-text.errorclass::placeholder {
        color: red;
    }
}
@media screen and (min-width: 1240px) {
    .editMessage-container {
        width: 50%;
        left: 25%;
    }
}