header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 15vh;
    background: transparent;
    
    h1 {
        font-size: 5rem;
        color: rgba(74, 114, 74, 0.2);
        letter-spacing: 2rem;
    }
    h1:hover {
        cursor: default;
    }
}